#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&sk {
    quick-release;
};


/ {
	keymap {
		compatible = "zmk,keymap";

		default {
			label = "Default";
			bindings = <
				&mt LS(W) W    &mt LS(F) F    &mt LS(P) P    &mt LS(G) G    &mt LS(V) V 
				&mt LS(Q) Q    &kp LS(J) J    &mt LS(O) O    &mt LS(U) U    &mt BSLH FSLH

				&mt LS(C) C    &mt LS(S) S    &mt LS(N) N    &mt LS(T) T    &mt LS(M) M 
				&mt DQT SQT    &mt LS(H) H    &mt LS(E) E    &mt LS(I) I    &mt LS(A) A

				&mt LS(Y) Y    &mt LS(X) X    &mt LS(B) B    &mt LS(D) D    &mt LS(K) K 
				&mt LS(Z) Z    &mt LS(L) L    &mt UNDER MINUS    &mt SEMI COMMA    &mt COLON DOT
				
				&sl 1          &mt LS(R) R 
				&kp SPACE      &lt 2 &key_repeat
			>;
		};

	};
};
