#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AS(keycode) &as LS(keycode) keycode

/ {
	behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        rml: repeat_momentary_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <0>;
            tapping_term_ms = <200>;
            flavor = "hold-preferred";
            bindings = <&ml 2>, <&key_repeat>;
        };
		
    };

	keymap {
		compatible = "zmk,keymap";

		default {
			label = "Default";
			bindings = <
				AS(W) AS(F) AS(P) AS(G) AS(V)
				AS(Q) AS(J) AS(O) AS(U) &as BSLH FSLH

				AS(C) AS(S) AS(N) AS(T) AS(M)
				&as DQT SQT AS(H) AS(E) AS(I) AS(A)
			
				AS(Y) AS(X) AS(B) AS(D) AS(K)
				AS(Z) AS(L) &as UNDER MIN &as SEMI COMMA &as COLON DOT

				&sl 1 AS(R)
				&kp SPACE &rml
			>;
		};

		alt {
			label = "alternate";
			bindings = <
				&none &none &none &none &none
				&none &none &none &none &none

				&none &none &none &none &none
				&none &none &none &none &none

				&none &none &none &none &none
				&none &none &none &none &none				
				
				&caps_word &none
				&kp BACKSPACE &none
			>;
		};

	};
};
