#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AS(keycode) &as LS(keycode) keycode

/ {
	behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <135>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default {
			label = "Default";
			bindings = <
				AS(W) AS(F) AS(P) AS(G) AS(V)
				AS(Q) AS(J) AS(O) AS(U) &none

				AS(C) AS(S) AS(N) AS(T) AS(M)
				&none AS(H) AS(E) AS(I) AS(A)
			
				AS(Y) AS(X) AS(B) AS(D) AS(K)
				AS(Z) AS(L) &none &none &none

				&sl 1 AS(R)
				&kp SPACE &key_repeat
			>;
		};

		sticky {
			label = "sticky";
			bindings = <
				&none &none &none &none &none
				&none &none &none &none &none

				&none &none &none &none &none
				&none &none &none &none &none

				&none &none &none &none &none
				&none &none &none &none &none				
				
				&caps_word &none
				&kp BACKSPACE &none
			>;
		};

	};
};
